div {
  background: #666;
  font-size: 100px;
}
span{
  background: red;
  font-size: 50px;
  font-style: italic;
}

/* .bg{
  width: 200px;
  height: 200px;
  display: inline-block;
  background:url(../img/GPT.jpg);
} */